#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        q {
            bindings = <&kp Q>;
            key-positions = <1 0>;
        };

        f {
            bindings = <&kp F>;
            key-positions = <1 2>;
        };

        y {
            bindings = <&kp Y>;
            key-positions = <3 4>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <4 5>;
        };

        g {
            bindings = <&kp G>;
            key-positions = <8 9>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <10 11>;
        };

        lang1 {
            bindings = <&mt LEFT_GUI LANGUAGE_1>;
            key-positions = <7 8>;
        };

        lang2 {
            bindings = <&mt RIGHT_GUI LANGUAGE_2>;
            key-positions = <11 12>;
        };

        lsft {
            bindings = <&kp LSHFT>;
            key-positions = <6 7>;
        };

        lgui {
            bindings = <&kp LCTRL>;
            key-positions = <14 15>;
        };

        lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <16 17>;
        };

        layer3 {
            bindings = <&lt 3 EQUAL>;
            key-positions = <14 17>;
        };

        layer4 {
            bindings = <&mo 4>;
            key-positions = <15 16>;
        };

        y2 {
            bindings = <&kp Y>;
            key-positions = <9 10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 2 W  &kp E  &kp R  &kp U  &kp I  &kp O  &kp A  &kp S  &kp D  &kp T  &kp H  &kp K  &lt 1 L  &mt RIGHT_SHIFT ENTER  &kp Z  &kp B  &kp N  &kp M
            >;
        };

        layer_1 {
            bindings = <
&kp X  &kp C  &kp V  &kp SLASH  &kp GRAVE  &kp DELETE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp COMMA  &kp PERIOD  &kp SPACE  &kp ENTER  &trans  &kp RIGHT_SHIFT  &kp MINUS  &mt LEFT_GUI SEMICOLON  &mt RIGHT_GUI SQT  &kp BACKSPACE
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp LEFT_SHIFT  &kp LG(R)  &kp EQUAL  &kp BACKSLASH  &kp UP_ARROW  &kp LG(A)  &kp LG(S)  &kp LG(D)  &kp LG(T)  &kp BACKSPACE  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(Z)  &kp ESCAPE  &kp LG(N)  &kp TAB
            >;
        };

        layer_3 {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N7  &kp N8  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH  &kp ASTERISK  &kp N9  &kp N0  &trans  &kp PLUS  &kp MINUS  &trans
            >;
        };

        layer_4 {
            bindings = <
&kp F11  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp F12  &trans  &trans  &bt BT_SEL 4
            >;
        };
    };
};
